.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureSvg {
    height: 65px;
    width: 65px;
}

.smallprint {
    font-size: 0.85em;
    display: flex;
    justify-content: center;
}
